[Unit]
Description=Device Status Service
After=network.target

[Service]
Type=simple
#User=nobody
Restart=on-failure
RestartSec=30s
ExecStart=/usr/bin/python /root/device_status/monitor.py

[Install]
WantedBy=multi-user.target
