<!DOCTYPE html>
<meta charset="UTF-8">
<title>Flaskr</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
<div class="page">
    <h1>Flaskr</h1>

    <div class="metanav">
        <a href="{{ url_for('show_entries') }}">Home</a>
        {% if not session.logged_in or not session.logged_user %}
            <a href="{{ url_for('register') }}">Register</a>
            <a href="{{ url_for('login') }}">LogIn</a>
        {% else %}
            <a href="{{ url_for('add_entry') }}">New</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            <span>{{ session.logged_user }}</span>
        {% endif %}
    </div>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
    <div class="footer"><span>copyright 2014 mcxiaoke.com</span></div>
</div>