{% extends "base.html" %}
{% block body %}
    <ul class="entries">
        {% if entries %}
            {% for entry in entries %}
                <li><h2><a
                href="{{ url_for('show_entry',id=entry.id) }}">{{ entry.title }}</a></h2>

                <p class="entry-info">Author: {{ entry.user_id }} Created At: {{ entry.created_at }}</p>

                <div class="entry-text">{{ entry.abstract |safe }}</div>

            {% endfor %}
        {% else %}
            <li><em>Unbelievable. No entries here so far</em>
        {% endif %}
    </ul>
{% endblock %}